In [2]:
import json
import os
import psycopg2 as ps
import pandas as pd
import config

In [3]:
def get_candles_by_ticker(ticker):
    connection = ps.connect(host = config.host, port = config.port, database = config.database, user = config.user, password = config.password)
    
    sql = f"select date, open, close, high, low, volume from storage.daily_candles where instrument_id in (select instrument_id from public.instruments where ticker = '{ticker}') and date >= '{config.start_date}' and date <= '{config.end_date}' order by date"
    df = pd.read_sql(sql, con = connection)
    
    return df

In [14]:
def get_normalized_close_prices():
    watch_list_shares = config.get_watch_list_shares()
    df = pd.DataFrame(columns=watch_list_shares)
    
    for ticker in watch_list_shares:
        df_candles = get_candles_by_ticker(ticker)

        if len(df_candles) > 0:
            df[ticker] = df_candles["close"] / df_candles["close"][0]
    
    return df

In [16]:
df = get_normalized_close_prices()

C:\Users\User\AppData\Local\Temp\ipykernel_9736\1494027946.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con = connection)
C:\Users\User\AppData\Local\Temp\ipykernel_9736\1494027946.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con = connection)

In [17]:
df

,ABIO,ABRD,AFKS,AFLT,AKRN,ALRS,AMEZ,APTK,AQUA,ASTR,...,VRSB,VSEH,VSMO,VTBR,WUSH,X5,YAKG,YDEX,ZAYM,ZILLP
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.059849,0.990448,1.005267,0.994965,1.000954,1.000281,1.030030,0.994489,1.027058,0.997856,...,1.078358,0.957789,1.088981,1.003648,1.002823,0.993476,1.015873,0.994963,0.997020,1.050187
2,1.048421,0.982366,0.998959,1.030769,1.001166,1.003792,1.046547,0.998898,1.021877,1.002923,...,1.082090,0.934673,1.078374,1.042300,0.997446,0.991226,1.038862,0.998450,0.995530,1.015599
3,1.045904,0.995591,1.015434,1.048951,0.999682,0.999438,1.068318,1.016258,1.033391,1.013935,...,1.084888,0.944724,1.081320,1.079475,0.998701,1.016423,1.039956,1.011623,0.988506,0.952187
4,1.065272,1.003674,1.010963,1.054266,0.999152,1.010955,1.055556,1.017222,1.029361,1.038784,...,1.193097,0.957286,1.166176,1.072700,1.002196,1.005849,1.087575,1.010074,1.000639,0.932519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,0.903544,0.698751,1.065654,2.084196,0.919432,0.900562,1.052553,0.813447,0.833621,0.927694,...,0.920709,NaN,0.991750,0.802224,0.894206,NaN,0.667761,NaN,NaN,1.220749
287,0.911679,0.687730,1.014760,2.010909,0.914131,0.866573,1.040541,0.817167,0.815199,0.904892,...,0.905784,NaN,0.958751,NaN,0.864767,NaN,0.661741,NaN,NaN,1.198715
288,0.921751,0.687730,1.042810,2.098741,0.902576,0.880899,1.039790,0.835079,0.828440,0.909277,...,0.942164,NaN,1.054803,NaN,0.875431,NaN,0.658456,NaN,NaN,1.241099
289,0.919039,0.690669,1.065103,2.155804,0.900986,0.881601,1.042042,0.814687,0.842257,0.902553,...,0.942164,NaN,1.238067,NaN,0.872788,NaN,0.731801,NaN,NaN,1.251611
290,0.919039,0.686995,1.068778,2.132028,0.911693,0.879494,1.046547,0.825710,0.849165,0.877022,...,0.941231,NaN,1.195639,NaN,0.876014,NaN,0.766284,NaN,NaN,1.294954